C# Projects/New folder (2)/CSAExamJan2017 solution/admin client/Service References/srv/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" nillable="true" type="tns:House" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouse" nillable="true" type="tns:ArrayOfHouse" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:simpleType name="OfferStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Succeeded" />
      <xs:enumeration value="SucceededAndUnavailable" />
      <xs:enumeration value="Unavailable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OfferStatus" nillable="true" type="tns:OfferStatus" />
</xs:schema>