C# Projects/webshopservice/WebshopApp/Connected Services/ServiceReference1/MyWebShopContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyWebShopContract" elementFormDefault="qualified" targetNamespace="MyWebShopContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MyWebShopContract" />
  <xs:element name="GetWebshopName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWebshopNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWebshopNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWebShopContract" minOccurs="0" name="GetProductListResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>