C# Projects/New folder/CSAExamJan2017/client/Service References/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" nillable="true" type="tns:House" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouse" nillable="true" type="tns:ArrayOfHouse" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AskingPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
</xs:schema>